# frontend angular environment config
frontend_angular_v1/src/environments/environment.prod.ts
frontend_angular_v1/src/environments/environment.ts

# frontend angular node modules
frontend_angular_v1/node_modules

# backend nodejs config
backend_nodejs_v1/configurations/config.env

# backend node modules
backend_nodejs_v1/node_modules
frontend_angular_v1/.firebase/*
