# frontend angular environment config
fba_v1/src/environments/environment.prod.ts
fba_v1/src/environments/environment.ts

# frontend angular node modules
fba_v1/node_modules

# backend nodejs config
backend_nodejs_v1/configurations/config.env

# backend node modules
backend_nodejs_v1/node_modules