<div class="container bg-warning p-3">
    <table class="table table-bordered table-hover bg-secondary text-white">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone</th>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zip</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts; let i = index">
                <td>{{i+1}}</td>
                <td>{{contact.Name}}</td>
                <td>{{contact.Email}}</td>
                <td>{{contact.Password}}</td>
                <td>{{contact.Phone}}</td>
                <td>{{contact.Address_Line_1}}</td>
                <td>{{contact.Address_Line_2}}</td>
                <td>{{contact.City}}</td>
                <td>{{contact.State}}</td>
                <td>{{contact.Country}}</td>
                <td>{{contact.Zip}}</td>
            </tr>
        </tbody>
    </table>
</div>