<div class="container bg-warning p-3">
    <table class="table table-bordered table-hover bg-secondary text-white">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone</th>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zip</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts; let i = index">
                <td>{{i+1}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.password}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.address_line_1}}</td>
                <td>{{contact.address_line_2}}</td>
                <td>{{contact.city}}</td>
                <td>{{contact.state}}</td>
                <td>{{contact.country}}</td>
                <td>{{contact.zip}}</td>
            </tr>
        </tbody>
    </table>
</div>