<div class="container bg-warning p-4">
    <table class="table table-bordered table-hover bg-secondary text-white">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Date</th>
                <th>Title</th>
                <th>Author</th>
                <th>Message</th>
                <th>Category</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let blog of blogs; let i = index">
                <td>{{i+1}}</td>
                <td>{{blog.date}}</td>
                <td>{{blog.title}}</td>
                <td>{{blog.author}}</td>
                <td>{{blog.message}}</td>
                <td>{{blog.category}}</td>
                <td>
                    <button class="btn btn-primary m-2" (click)="getBlogById(blog.id)">select</button>
                    <button class="btn btn-danger m-2" (click)="deleteBlog(blog.id)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <hr style="border: 1px solid green;"/>
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="row form-group my-1 d-flex justify-content-center">
                <label class="col-2 control-label" for="id">ID</label>
                <div class="col-4">
                    <input type="number" [(ngModel)]="blog.id" class="form-control" id="id"/>
                </div>
            </div>
            <div class="row form-group my-1 d-flex justify-content-center">
                <label class="col-2 control-label" for="date">Date</label>
                <div class="col-4">
                    <input type="date" [(ngModel)]="blog.date" class="form-control" id="date"/>
                </div>
            </div>
            <div class="row form-group my-1 d-flex justify-content-center">
                <label class="col-2 control-label" for="title">Title</label>
                <div class="col-4">
                    <input type="text" [(ngModel)]="blog.title" class="form-control" id="title"/>
                </div>
            </div>
            <div class="row form-group my-1 d-flex justify-content-center">
                <label class="col-2 control-label" for="author">Author</label>
                <div class="col-4">
                    <input type="text" [(ngModel)]="blog.author" class="form-control" id="author"/>
                </div>
            </div>
            <div class="row form-group my-1 d-flex justify-content-center">
                <label class="col-2 control-label" for="message">Message</label>
                <div class="col-4">
                    <input type="text" [(ngModel)]="blog.message" class="form-control" id="message"/>
                </div>
            </div>
            <div class="row form-group my-1 d-flex justify-content-center">
                <label class="col-2 control-label" for="category">Category</label>
                <div class="col-4">
                    <input type="text" [(ngModel)]="blog.category" class="form-control" id="category"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="btn-group m-2 col-6">
            <button class="btn btn-primary" (click)="createBlog()">create</button>
            <button class="btn btn-primary" (click)="clear()">clear</button>
            <button class="btn btn-primary" (click)="updateBlog()">update</button> 
        </div>
    </div>
    <hr style="border: 1px solid blue;">
    <div class="row d-flex justify-content-center">
        {{msg}}
    </div>
</div>