<div class="container">
    <div class="row logoarea">
        <h1>Velvet Embers</h1>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a routerLink="/register" class="nav-link active" data-toggle="tab">register</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login" class="nav-link active" data-toggle="tab">login</a>
            </li>
            <li class="nav-item">
                <a routerLink="/blog" class="nav-link active" data-toggle="tab">blog</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contact" class="nav-link active" data-toggle="tab">contact</a>  
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
    <div class="row">
        <div class="tab-content">
            <div id="register" class="tab-pane fade">
                <app-register></app-register>
            </div>
            <div id="login" class="tab-pane fade">
                <app-login></app-login>
            </div>
            <div id="blog" class="tab-pane fade">
                <app-blog-index></app-blog-index>
            </div>
            <div id="contact" class="tab-pane fade">
                <app-contact></app-contact>
            </div>
        </div>
    </div>
</div>