<nav class="navbar navbar-expand-lg bg-dark my-2">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" (click)="goToHome()">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goToBlog()">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goToContact()">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goToShow()">Show Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>